
.text__area {
    width: 2055px;
    margin-left: 160px;
    height: 400px;
    border-radius: 15px;
    border-color: grey;
    background: black;
    color: white;
    font-family: Inter;
    font-style: normal;
    font-size: 30px;
}

.keyboard {
    display: flex;
    width: 2000px;
    background: gray;
    border: 2px solid grey;
    border-radius: 10px;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -100%);
    padding-left: 60px;
    padding-bottom: 10px;
    padding-top: 20px;
}

.keyboard-string__one {
   display: flex;
   justify-content: center;
   padding-bottom: 80px;

}

.keyboard-string__two {
    display: flex;
    justify-content: center;
 }

.keyboard-string__three{
    display: flex;
    justify-content: center;
    
}

.keyboard-string__four {
    display: flex;
    justify-content: center;
  
}

.keyboard-string__five {
    display: flex;
    justify-content: center;
   
}

.keyboard-string__six {
    display: flex;
    justify-content: center;
    
}

.keyboard__key{
    background: black;
    height: 83px;
    width: 75px;
    border-radius: 10px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    text-transform: uppercase;
    cursor: pointer;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 27px;
    margin-bottom: 10px;
}

.key-string__two {
    display: flex;
}

.key-string__three {
    display: flex;
}
.key-string__four {
    display: flex;
}
.key-string__five {
    display: flex;
}
.key-string__six {
    display: flex;
}

.keyboard__key-mar {
    margin-left: 40px;
}

.keyboard__key-marg {
    margin-left: 91px;
}

.keyboard__key-tab {
    width: 118px;
}

.keyboard__key-backspace {
    width: 161px;
}

.keyboard__key-caps {
    width: 120px;
}

.keyboard__key-enter {
    width: 201px;
}

.keyboard__key-shift {
    width: 203px;
}

.keyboard__key-size {
    width: 100px;
}

.keyboard__key-space {
    width: 496px;
}

.keyboard__key-up {
    margin-left: 128px;
}

.keyboard__key-left {
    margin-left: 43px;
}

.keyboard__key-four {
    margin-left: 336px;
}

.keyboard__key-one {
    margin-left: 125px;
}

.keyboard__key-scroll {
    margin-right: 403px;
}

.keyboard__key-zero {
    width: 160px;
}

.active {
    box-shadow: 0px 5px 34px -1px rgb(27 240 52 / 98%);
}

.hidden {
    display: none;
}

.active_btn {
    display: block;
}